<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>
<div class="card-body">
  <form [formGroup]="registerForm">
    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="names">Nombre</label>
      <input formControlName="name" name="name" id="name" placeholder="Ingrese el nombre de la categoría" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">El nombre es requerido</div>
      </div>
    </div>
    
    <div class="modal-footer">
      <button class="mt-1 btn btn-primary" type="submit" (click)="Cancelar()">Cancelar</button>
      <button class="mt-1 btn btn-success" type="submit"  (click)="Guardar()">Guardar</button>
    </div>
  </form>

    
</div>