<div class="card-body"><h5 class="card-title">Nuevo Pagare</h5>
  <form>

    <!--Comercio-->
    <div class="position-relative form-group">
        <label for="commercio">Commercio</label>
          <input name="commercio" id="commercio" placeholder="Comercio" type="text" class="form-control">
    </div>

    <!--Cliente-->
    <div class="position-relative form-group">
        <label for="cliente">Cliente</label>
          <input name="cliente" id="cliente" placeholder="Cliente" type="text" class="form-control">
    </div>

    <!--Tabla Numero-->
    <div class="position-relative form-group">
        <label for="tablanumero">Tabla Numero</label>
          <input name="tablanumero" id="tablanumero" placeholder="Tabla Numero" type="number" class="form-control">
    </div>

    <!--Operacion-->
    <div class="position-relative form-group">
      <label for="operacion">Operacion</label>
        <input name="operacion" id="operacion" placeholder="Operacion" type="text" class="form-control">
    </div>

    <!--Estado-->
    <div class="position-relative form-group">
      <label for="estado">Estado</label>
        <input name="estado" id="estado" placeholder="Estado" type="text" class="form-control">
    </div>

    <!--Total-->
    <div class="position-relative form-group">
        <label for="total">Total</label>
          <input name="total" id="total" placeholder="Total" type="number" class="form-control">
    </div>
    
    <button class="mt-1 btn btn-primary" type="submit">Guardar</button>
  </form>
</div>