<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <div class="logo-src"></div>
  <div class="app-header__content">
    <div class="app-header-left">
      <!--<app-search-box></app-search-box>-->
    </div>
    <div class="app-header-right">
      <app-user-box></app-user-box>
    </div>
  </div>
  <div class="app-header__mobile-menu" *ngIf="commerceName">
    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
            [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
  <div class="app-header__menu">
    <span>
        <button class="btn-icon btn-icon-only btn btn-primary" [ngClass]="{'is-active' : globals.toggleHeaderMobile}"
                (click)="toggleHeaderMobile()">
            <div class="btn-icon-wrapper">
                <fa name="ellipsis-v"></fa>
            </div>
        </button>
    </span>
  </div>
</div>
<div *ngIf="sale.total_products > 0" [class]="'app-header header-shadow header-submenu' + (config$ | async).headerTheme">
  <div class="submenu-btn">
    <button class="mr-2 btn-icon btn-icon-only btn submenu-btn">        
      <div class="cantidad-productos-numero">Venta en Curso</div>
    </button>
    <button class="mr-2 btn-icon btn-icon-only btn submenu-btn">
      <i class="pe-7s-cash btn-icon-cash "> </i>
      <div class="cantidad-productos-numero">{{sale.total_amount | currency}}</div>
    </button>
    <button class="mr-2 btn-icon btn-icon-only btn submenu-btn">
      <i class="pe-7s-cart btn-icon-cart "> </i>
      <div class="cantidad-productos-numero">{{sale.total_products}}</div>
    </button>
  </div> 
</div>