<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>
<div class="card-body">
  <form>

    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="nameproduct">Nombre</label>
        <input name="nameproduct" id="nameproduct" placeholder="Nombre" type="text" class="form-control">
    </div>

    <!--Imagen-->
    <div class="position-relative form-group">
      <label for="imagenproduct">Imagen</label>
  
      <input name="imagenproduct" id="imagenproduct" type="file" class="form-control-file">
      
      <small class="form-text text-muted">
        Seleccione la imagen del producto.
      </small>
    </div>

    <!--Comercio-->
    <div class="position-relative form-group">
        <label for="commercio">Commercio</label>
          <input name="commercio" id="commercio" placeholder="Comercio" type="text" class="form-control">
    </div>

    <!--Adress-->
    <div class="position-relative form-group">
      <label for="direccion">Direccion</label>
      <input name="direccion" id="direccion" placeholder="Direccion" type="text" class="form-control">
    </div>

    <!--Email-->
    <div class="position-relative form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>

    <!--PhoneNumber-->
    <div class="position-relative form-group">
        <label for="phonenumber">Telefono</label>
          <input name="phonenumber" id="phonenumber" placeholder="Telefono" type="text" class="form-control">
    </div>

    <!--Positivecredit-->
    <div class="position-relative form-group">
        <label for="positivecredit">Saldo Favor</label>
          <input name="positivecredit" id="positivecredit" placeholder="Saldo Favor" type="number" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>