<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div class="card-body">

  <form [formGroup]="registerForm" >
    <div class="form-row">
      
      <!--Cliente--> 
      <div class="form-group col-md-6 text-center">
        <label for="nombrecliente">Cliente</label>
        <input formControlName="nombrecliente" name="nombrecliente" id="nombrecliente"  placeholder="Nombre del cliente" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombrecliente.errors }">
        <div *ngIf="submitted && f.nombrecliente.errors" class="invalid-feedback">
          <div *ngIf="f.nombrecliente.errors.required">El nombre del cliente es requerido</div>
        </div>
      </div>

       <!--Empleado-->
       <div class="form-group col-md-6 text-center">
          <label for="empleado">Empleado</label>
          <input formControlName="empleado" name="empleado" id="empleado" placeholder="Empleado" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empleado.errors }">
          <div *ngIf="submitted && f.empleado.errors" class="invalid-feedback">
            <div *ngIf="f.empleado.errors.required">El nombre del empleado es requerido</div>
          </div>
      </div>

    </div>
     
    <div class="form-row">

      <!--ESTADO-->
      <div class="form-group col-md-4 text-center">
        <label for="categoriaSelect">Estado</label>
        <select formControlName="salestatus" name="statusale" id="statusale" class="form-control">
          <option selected >Pagado</option>
          <option>Pendiente</option>
          <option>Cancelado</option>
        </select>
      </div>

      <!--FORMA DE PAGO-->
      <div class="form-group col-md-4 text-center">
        <label for="categoriaSelect">Forma de Pago</label>
        <select formControlName="paymentform" name="categoriaSelect" id="categoriaSelect" class="form-control">
          <option selected >Efectivo</option>
          <option>Credito</option>
          <option>Debito</option>
        </select>
      </div>

      <!--Precio Total-->
      <div class="form-group col-md-4 text-center">
        <label for="costototal">Total</label>
        <input formControlName="total" disabled name="total" id="total" placeholder="$0" type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.total.errors }">
        <div *ngIf="submitted && f.total.errors" class="invalid-feedback">
          <div *ngIf="f.total.errors.required">Cargue un producto/servicio</div>
        </div>
      </div>

    </div>

    <!--Productos-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unit.</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index" [attr.data-index]="i" class="table-light text-center">
              <td>{{product.name}}</td>
              <td>{{product.count}}</td>
              <td>{{product.price}}</td>
              <td>{{product.priceTotal}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteProduct(contentDeleteProduct,product,i)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(content)" >Nuevo producto</button>

      </div>
    </div>
    
    <!--Servicios-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services; let e = index" [attr.data-index]="e" class="table-light text-center">
              <td>{{service.name}}</td>
              <td>{{service.price}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteService(contentDeleteService,service,e)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(content2)" >Nuevo Servicio</button>

      </div>
    </div>


     <!--Payment Method-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Forma de pago</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let met of methodlist; let m = index" [attr.data-index]="e" class="table-light text-center">
              <td>{{met.namee}}</td>
              <td>{{met.porciento|percent}}</td>
              <td>{{met.subtotal}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteMethod(contentDeleteMethod,met,m)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(contentpayment)">Nueva Forma de Pago</button>

      </div>
    </div>


    

    <!--Descripcion-->
    <div class="position-relative form-group">
        <label for="descripcion">Descripcion</label>
        <textarea formControlName="description"  name="descripcion" id="descripcion" class="form-control">
        {{descripcion}}
        </textarea>
    </div>

    <!--Guardar-->
    <div class="form-row">
      <div class="form-group col-md-12 text-center">
        <button class="mt-1 btn btn-primary" type="submit"  (click)="Guardar()" >Guardar</button>
      </div>
    </div>

  </form>
</div>





<!--Modals-->


<!--Product Modal-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormProduct">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Productos</label>
            <select  formControlName="nameprod" (change)="onProductChange()" class="form-control" [ngClass]="{ 'is-invalid': submittedprod && prod.nameprod.errors }">
              <option *ngFor="let p of prods" [ngValue]="p">
                {{p.name}}
              </option>
            </select>
            <div *ngIf="submittedprod && prod.nameprod.errors" class="invalid-feedback">
              <div *ngIf="prod.nameprod.errors.required">Seleccione un producto</div>
            </div>
          </div>
          <div  class="form-group col-md-3">
            <label>Cantidad</label>
            <input formControlName="cantprod" minlength="1" type="number" min="1" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            [ngClass]="{ 'is-invalid': submittedprod && prod.cantprod.errors }" >
            <div *ngIf="submittedprod && prod.cantprod.errors" class="invalid-feedback">
              <div *ngIf="prod.cantprod.errors.required">Cantidad Requerida</div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>Precio Unit.</label>
            <input formControlName="priceprod" disabled type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedprod && prod.priceprod.errors }" >
            <div *ngIf="submittedprod && prod.priceprod.errors" class="invalid-feedback">
              <div *ngIf="prod.priceprod.errors.required">Precio Requerido</div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-primary" type="submit" (click)="agregar()" style="margin-top: 2.1em">Agregar</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
     
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Salir</button>
    </div>
  </ng-template>
  
  
  <!--Service Modal-->
  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Servicio</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormService">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Servicio</label>
            <select  formControlName="nameserv" (change)="onServiceChange()" class="form-control" [ngClass]="{ 'is-invalid': submittedserv && serv.nameserv.errors }">
              <option *ngFor="let s of servs" [ngValue]="s">
                {{s.name}}
              </option>
            </select>
            <div *ngIf="submittedserv && serv.nameserv.errors" class="invalid-feedback">
              <div *ngIf="serv.nameserv.errors.required">Servicio requerido</div>
            </div>
          </div> 
          <div class="form-group col-md-4">
            <label>Precio</label>
            <input formControlName="priceserv" disabled class="form-control"  [ngClass]="{ 'is-invalid': submittedserv && serv.priceserv.errors }">
              <div *ngIf="submitted && f.priceserv.errors" class="invalid-feedback">
                <div *ngIf="serv.priceserv.errors.required || serv.priceserv.errors.min">El precio es requerido</div>
             </div>
          </div>
          <div class="form-group col-md-4">
            <button class="btn btn-primary" type="submit" (click)="agregarService()" style="margin-top: 2.1em">Agregar</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Salir</button>
    </div>
  </ng-template>


  <!--Payment Method Modal-->
  <ng-template #contentpayment let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Forma de pago</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormPaymentMethod">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Metodo de Pago</label>
            <select  formControlName="methodname" class="form-control" [ngClass]="{ 'is-invalid': submittedMethod && meth.methodname.errors }">
              <option *ngFor="let m of methodpay" [ngValue]="m.name">
                {{m.name}}
              </option>
            </select>
            <div *ngIf="submittedMethod && meth.methodname.errors" class="invalid-feedback">
              <div *ngIf="meth.methodname.errors.required">Forma de pago requerida</div>
            </div>
          </div> 
          <div class="form-group col-md-4">
            <label>SubTotal</label>
            <input formControlName="subtotal" class="form-control"  [ngClass]="{ 'is-invalid': submittedMethod && meth.subtotal.errors }">
              <div *ngIf="submittedMethod && meth.subtotal.errors" class="invalid-feedback">
                <div *ngIf="meth.subtotal.errors.required">El SubTotal es requerido</div>
             </div>
          </div>
          <div class="form-group col-md-4">
            <button class="btn btn-primary" type="submit" (click)="agregarMethod()" style="margin-top: 2.1em">Agregar Metodo</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Salir</button>
    </div>
  </ng-template>
  
  
  
  <!--Detele Product-->
  <ng-template #contentDeleteProduct let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este producto?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>
  
  
  
  <!--Detele Service-->
  <ng-template #contentDeleteService let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Servico</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este servicio?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>


  <!--Detele Method-->
  <ng-template #contentDeleteMethod let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Metodo de pago</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar Metodo de Pago?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>
  
  
