<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div class="card-body">

  <form [formGroup]="registerForm" >
    <div class="form-row">
      
      <div class="form-group col-md-4 text-center">
        <label for="cliente">Cajas</label>
        <select formControlName="caja_id" name="caja_id" id="caja_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.caja_id.errors }">
          <option *ngFor="let caja of cajas" [value]="caja.id">{{caja.name}}</option>
          <div *ngIf="submitted && f.caja_id.errors" class="invalid-feedback">
              <div *ngIf="f.caja_id.errors.required">Seleccione una caja o genere una nueva: link</div>
          </div>
        </select>
      </div>

      
      <div class="form-group col-md-4 text-center">
        <label for="cliente">Cliente</label>
        <select formControlName="cliente_id" name="cliente_id" id="cliente_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cliente_id.errors }">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.name}}</option>
          <div *ngIf="submitted && f.cliente_id.errors" class="invalid-feedback">
              <div *ngIf="f.cliente_id.errors.required">Seleccione un cliente o genere uno nuevo: link</div>
          </div>
        </select>
      </div>


      <div class="form-group col-md-4 text-center">
          <label for="enum_status">Estado</label>
          <select formControlName="enum_status" name="enum_status" id="enum_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enum_status.errors }">
            <option selected >PAGADO</option>
            <option >PENDIENTE</option>
            <option >CANCELADO</option>
            <div *ngIf="submitted && f.enum_status.errors" class="invalid-feedback">
                <div *ngIf="f.enum_status.errors.required">Seleccione un Estado o genere uno nuevo: link</div>
            </div>
          </select>
        </div>
     


       

       <!--Precio Total-->
       <div class="form-group col-md-4 text-center">
        <label for="costototal">Total</label>
        <input formControlName="total" disabled name="total" id="total" placeholder="$0" type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.total.errors }">
        <div *ngIf="submitted && f.total.errors" class="invalid-feedback">
          <div *ngIf="f.total.errors.required">Cargue un producto/servicio</div>
        </div>
      </div>

    </div>
     
    <!--Productos-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unit.</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productosAgregados; let i = index" [attr.data-index]="i" class="table-light text-center">
              <td>{{product.name}}</td>
              <td>{{product.count}}</td>
              <td>{{product.price}}</td>
              <td>{{product.priceTotal}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteProduct(contentDeleteProduct,product,i)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(content)" >Nuevo producto</button>

      </div>
    </div>
    
    <!--Servicios-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of serviciosAgregados; let e = index" [attr.data-index]="e" class="table-light text-center">
              <td>{{service.name}}</td>
              <td>{{service.price}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteService(contentDeleteService,service,e)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(content2)" >Nuevo Servicio</button>

      </div>
    </div>


     <!--Payment Method-->
    <div  class="form-row">
      <div class="form-group col-md-12 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Forma de pago</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of entries; let m = index" [attr.data-index]="e" class="table-light text-center">
              <td>{{entry.enum_pay_with}}</td>
              <td>{{entry.porciento|percent}}</td>
              <td>{{entry.amount}}</td>
              <td><button  type="button" class="btn btn-primary" (click)="deleteMethod(contentDeleteMethod,entry,m)" >Borrar</button></td>
            </tr>
          </tbody>
        </table>
        <button  class="btn btn-primary col-md-text-center" (click)="open(contentpayment)">Nuevo Pago</button>

      </div>
    </div>


    

    <!--Descripcion-->
    <div class="position-relative form-group">
        <label for="descripcion">Descripcion</label>
        <textarea formControlName="description"  name="descripcion" id="descripcion" class="form-control">
        {{descripcion}}
        </textarea>
    </div>

    <!--Guardar-->
    <div class="form-row">
      <div class="form-group col-md-12 text-center">
        <button class="mt-1 btn btn-primary" type="submit"  (click)="Guardar()" >Guardar</button>
      </div>
    </div>

  </form>
</div>





<!--Modals-->

<!--Product Modal-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormProduct">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Productos</label>
            <select  formControlName="producto" (change)="onProductChange()" class="form-control" [ngClass]="{ 'is-invalid': submittedprod && fProd.producto.errors }">
              <option *ngFor="let p of productos" [ngValue]="p">
                {{p.name}}
              </option>
            </select>
            <div *ngIf="submittedprod && fProd.producto.errors" class="invalid-feedback">
              <div *ngIf="fProd.producto.errors.required">Seleccione un producto</div>
            </div>
          </div>
          <div  class="form-group col-md-3">
            <label>Cantidad</label>
            <input formControlName="cantidad" minlength="1" type="number" min="1" class="form-control"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            [ngClass]="{ 'is-invalid': submittedprod && fProd.cantidad.errors }" >
            <div *ngIf="submittedprod && fProd.cantidad.errors" class="invalid-feedback">
              <div *ngIf="fProd.cantidad.errors.required">Cantidad Requerida</div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>Precio Unit.</label>
            <input formControlName="precio" disabled type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedprod && fProd.precio.errors }" >
            <div *ngIf="submittedprod && fProd.precio.errors" class="invalid-feedback">
              <div *ngIf="fProd.precio.errors.required">Precio Requerido</div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-primary" type="submit" (click)="agregarProducto()" style="margin-top: 2.1em">Agregar</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
  
    </div>
  </ng-template>
  
  
  <!--Service Modal-->
  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Servicio</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormService">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Servicio</label>
            <select  formControlName="servicio" (change)="onServiceChange()" class="form-control" [ngClass]="{ 'is-invalid': submittedserv && fServ.servicio.errors }">
              <option *ngFor="let s of servicios" [ngValue]="s">
                {{s.name}}
              </option>
            </select>
            <div *ngIf="submittedserv && fServ.servicio.errors" class="invalid-feedback">
              <div *ngIf="fServ.servicio.errors.required">Servicio requerido</div>
            </div>
          </div> 
          <div class="form-group col-md-4">
            <label>Precio</label>
            <input formControlName="priceserv" disabled class="form-control"  [ngClass]="{ 'is-invalid': submittedserv && fServ.priceserv.errors }">
              <div *ngIf="submitted && fServ.priceserv.errors" class="invalid-feedback">
                <div *ngIf="fServ.priceserv.errors.required || fServ.priceserv.errors.min">El precio es requerido</div>
             </div>
          </div>
          <div class="form-group col-md-4">
            <button class="btn btn-primary" type="submit" (click)="agregarService()" style="margin-top: 2.1em">Agregar</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
  
    </div>
  </ng-template>


  <!--Payment Method Modal-->
  <ng-template #contentpayment let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Pago</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerFormPaymentMethod">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Metodo de Pago</label>
            <select  formControlName="method" class="form-control" [ngClass]="{ 'is-invalid': submittedMethod && fMeth.method.errors }">
              <option *ngFor="let m of methodpay" [ngValue]="m">
                {{m.name}}
              </option>
            </select>
            <div *ngIf="submittedMethod && fMeth.method.errors" class="invalid-feedback">
              <div *ngIf="fMeth.method.errors.required">Forma de pago requerida</div>
            </div>
          </div> 
          <div class="form-group col-md-4">
            <label>SubTotal</label>
            <input formControlName="subtotal" class="form-control"  [ngClass]="{ 'is-invalid': submittedMethod && fMeth.subtotal.errors }">
              <div *ngIf="submittedMethod && fMeth.subtotal.errors" class="invalid-feedback">
                <div *ngIf="fMeth.subtotal.errors.required">El SubTotal es requerido</div>
             </div>
          </div>
          <div class="form-group col-md-4">
            <button class="btn btn-primary" type="submit" (click)="agregarMethod()" style="margin-top: 2.1em">Agregar Pago</button>
          </div>
        </div>
      </form>
  
    </div>
    <div class="modal-footer">
  
    </div>
  </ng-template>
  
  
  
  <!--Detele Product-->
  <ng-template #contentDeleteProduct let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este producto?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>
  
  
  
  <!--Detele Service-->
  <ng-template #contentDeleteService let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Servico</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este servicio?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>


  <!--Detele Method-->
  <ng-template #contentDeleteMethod let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Pago</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este Pago?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>
  
  
