<div class="d-flex">
  <div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          
          {{commerceName}}
          <div class="btn-group" ngbDropdown placement="bottom-right">            
            <button type="button" class="btn btn-link p-0 mr-2" ngbDropdownToggle>             
              <span>
                <div *ngIf="auth.user$ | async as user">
                  <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                    <img width="42"  [src]="user.photoURL" alt="" class="rounded-circle">
                  </div>                  
                </div>
              </span>
            </button>
            <div ngbDropdownMenu>              
              
              <button *ngIf="commerceId" class="dropdown-item" [routerLink]="['/commerce',{id : commerceId}]">Configurar Comercio</button>
              <button class="dropdown-item" routerLink="/home">Seleccionar Comercio</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" >Mis Datos</button>
              <button class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

