<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>
<div class="card-body">    
  <form [formGroup]="registerForm">
      <div class="row">
          <div class="col-3"> 
            <div class="btn-input-icon" (click)="openAddIcon()">
              <img  src="{{service.icon}}" *ngIf="service.icon"/>
              <i class="pe-7s-shopbag" *ngIf="!service.icon"> </i>
              <div class="title">Icono</div>    
            </div>   
          </div>
          <div class="col-8"> 
            <div class="btn-input-portada" (click)="openAddPortada()">
              <img  src="{{service.portada}}" *ngIf="service.portada"/>
              <i class="pe-7s-shopbag" *ngIf="!service.portada"> </i>   
              <div class="btn-select-item-title">Portada</div>    
            </div>
          </div>
          <div class="col-1">
            <button *ngIf="isUpdate" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteService(content)">
              <i class="pe-7s-trash btn-icon-wrapper"> </i>
            </button>
          </div>
        </div>
  
        <div class="position-relative form-group">
          <app-image-select  #iconSelect 
            (imagenBase64)="iconoImagen($event)"
            aspectRatio_Y ="3"
            aspectRatio_X ="3"
            resizeToWidth=350
            titulo="Seleccionar Imagen"
            >
          </app-image-select> 
        </div>
        
        <div class="position-relative form-group">
          <app-image-select  #portadaSelect 
            (imagenBase64)="portadaImagen($event)"
            aspectRatio_Y ="7"
            aspectRatio_X ="3"
            resizeToWidth=350
            titulo="Seleccionar Imagen"
            >
          </app-image-select> 
        </div>

        <app-service-add-plan
        #addPlan 
        titulo="Agregar Plan"
        (retorno)="pushPlan($event)"
        >
        </app-service-add-plan>
    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="nameservice">Nombre</label>
        <input formControlName="name" name="name" id="name" placeholder="Ingrese el nombre del servicio" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">El nombre es requerido</div>
        </div>
      </div>
    <!--Categoria-->
    <div class="position-relative form-group">
      <label for="category_id">Categoria</label>
      <select formControlName="category_id" name="category_id" id="category_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }">
        <option *ngFor="let category of commerce.categories" [value]="category.id">{{category.name}}</option>
        <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
            <div *ngIf="f.category_id.errors.required">Seleccione una categoria o cree una nueva (link)</div>
        </div>
      </select>
    </div>
    <!--Precio-->
    <div class="position-relative form-group">
      <h5>Planes</h5>
      <div class="row" *ngFor="let plan of service.plans; index as i">
        <div class="col-md-1">
          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="borrarPlan(i)">
            <i class="pe-7s-trash btn-icon-wrapper"> </i>
          </button>
        </div>
        <div class="col-md-9" >
          <b>{{plan.name}}</b> {{plan.period}} días por {{plan.price | currency:'USD':true:'1.2'}}
        </div>       
      </div>  
      <div class="position-relative form-group col-md-3">
        <button class="mt-1 btn btn-success form-control" (click)="openAddPlan()">Agregar Plan</button>
      </div>
    </div>
    <!--Descripcion-->
    <div class="position-relative form-group">
      <label for="descripcion">Descripcion</label>
      <textarea formControlName="description" name="description" id="description"  class="form-control" placeholder="Ingrese descripción del servicio" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">      
      </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">ingrese una breve descripción</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="mt-1 btn btn-primary" type="submit" (click)="Cancelar()">Cancelar</button>
      <button class="mt-1 btn btn-success" type="submit"  (click)="Guardar()">Guardar</button>
    </div>
  </form>

    
</div>
