
<!--button class="btn-shadow btn btn-success" style="width:25%" (click)="openModal(content)" >Cargar Imagen</button-->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" *ngIf="paso1"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Arrastra tu imagen sobre este sector o 
                <button class="btn-shadow btn btn-primary" type="button" (click)="openFileSelector()">Busca en tus directorios</button>
            </ng-template>
        </ngx-file-drop>    

        
        <image-cropper  *ngIf="paso2" 
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="aspectRatio_Y/aspectRatio_X"
        [resizeToWidth]=resizeToWidth
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <img [src]="croppedImage" style="margin-left: auto; width:100%" *ngIf="paso3"/> 
    </div>

    <div class="modal-footer">       
        <button *ngIf="!paso1" (click)="backStep()" class="btn-shadow d-inline-flex align-items-center btn btn-sm">
            Atrás
        </button>
        <button *ngIf="paso2" (click)="nextStep()" class="btn-shadow d-inline-flex align-items-center btn btn-success">
           Siguiente
        </button>
        <button *ngIf="paso3" (click)="c('si')" class="btn-shadow d-inline-flex align-items-center btn btn-success">
            Guardar
        </button>
    </div>
</ng-template>



