<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

  <div class="row">
    <div class="col-md-2">
      <div class="position-relative form-group">
        <label>Cliente</label>
        <input [(ngModel)]="clienteValue" class="form-control" type="text" placeholder="Nombre">
      </div>
    </div>

    <div class="col-md-2">
      <div class="position-relative form-group">
        <label>Pago</label>
        <input [(ngModel)]="estadoValue" class="form-control" type="text" placeholder="Estado pago">
      </div>
    </div>
  </div>


<!--
<div id="filtere" class="content">
  <form [formGroup]="registerFormFilter">
    <div class="row">
      <div class="col-md-2">
          <label>Desde</label>
          <input type="date" class="form-control">
      </div>
      <div  class="col-md-2">
          <label>Hasta</label>
          <input type="date" class="form-control">
      </div>


      <div class="col-md-2">
        <div class="position-relative form-group">
          <label for="methodpayment">Forma de Pago</label>
          <select formControlName="methodpayment" (change)="search()" name="methodpayment" id="methodpayment" class="form-control">
            <option *ngFor="let op of paymethod" [ngValue]="op.name" >
              {{op.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="position-relative form-group">
          <label for="selectsale">Estado</label>
          <select name="selectsale" id="selectsale" class="form-control">
            <option></option>
            <option>Pagado</option>
            <option>Pendiente</option>
            <option>Cancelado</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-top: 2.1em;"> Buscar</button>
      </div>
    </div>
  </form>
</div>-->

<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Empleado</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Forma de Pago</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Total</th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales | filter:{clienteText:clienteValue,estadoText:estadoValue}" [routerLink]="['/sale',sale]" >
          <td class="text-center text-muted" style="width: 80px;">{{sale.id}}</td>
          <td class="text-center" >{{sale.cliente}}</td>
          <td class="text-center">{{sale.empleado}}</td>
          <td class="text-center">{{sale.fecha}}</td>
          <td class="text-center">{{sale.pago}}</td>
          <td class="text-center">{{sale.estado}}</td>
          <td class="text-center">{{sale.total}}</td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary" (click)="open(content,$event)">Borrar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">Actualizar</span>
    </button>
  </div>

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Venta</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Esta seguro que desea borrar esta venta?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
    <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
  </div>
</ng-template>
