
<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Productos</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Imagen</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Comercio</th>
        <th class="text-center">Proveedor</th>
        <th class="text-center">Categoria</th>
        <th class="text-center">Codigo</th>
        <th class="text-center">Descricion</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Stock</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center text-muted" style="width: 80px;">#1</td>
        <td class="text-center" style="width: 80px;">
          <img width="40" class="rounded-circle" src="./assets/images/avatars/1.jpg" alt="">
        </td>
        <td class="text-center">Chocolate</td>
        <td class="text-center">Caracol</td>
        <td class="text-center">Mauro</td>
        <td class="text-center">Dulces</td>
        <td class="text-center">68454</td>
        <td class="text-center">Son ricos</td>
        <td class="text-center">$50</td>
        <td class="text-center">20</td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Actualizar</button>
          </div>
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Borrar</button>
          </div>
        </td>
      </tr>
  
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">Actualizar</span>
    </button>
  </div>
</div>