<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Bienvenido,</div>
                <span>Por favor introduzca los datos de su cuenta</span></h4>
            </div>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                 class="form-group">
              <div><input id="exampleInput1" type="email" placeholder="Ingrese email..." required="required"
                          aria-required="true" class="form-control"
                          aria-describedby="exampleInputGroup1__BV_description_" [(ngModel)]="email">
                <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">Nunca comparta su correo
                  con otra persona
                </small>
              </div>
            </div>
            <div id="exampleInputGroup2" role="group" class="form-group">
              <div>
                <input id="exampleInput2" type="password" placeholder="Ingrese contraseña..." required="required"
                          aria-required="true" class="form-control" [(ngModel)]="password">
              </div>
            </div>            
            <div class="divider"></div>
            <h6 class="mb-0">
              No tienes cuenta?
              <a [routerLink]="['/signup']" class="text-primary">Registrate</a></h6></div>
          <div class="modal-footer clearfix">
            <div class="float-left"><a [routerLink]="['/reset']" class="btn-lg btn btn-link">Recuperar contraseña</a></div>
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="login()">Ingresar a tu cuenta</button>
            </div>    
          </div>
        </div>
      </div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
            <div class="modal-body">
              <div class="float-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="loginWithGoogle()">Ingresar con google</button>
              </div>
            </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © SocialUp 2019
      </div>
    </div>
  </div>
</div>
