<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

   
<div class="row">

    <div class="col-md-2">
        <label>Desde</label>
        <input type="date" [(ngModel)]="startdateValue" (ngModelChange)="changeDate($event)" class="form-control">
    </div>
    <div  class="col-md-2">
        <label>Hasta</label>
        <input type="date" [(ngModel)]="enddateValue" (ngModelChange)="changeDate($event)" class="form-control">
    </div>
    
    <div class="col-md-2">
      <div class="position-relative form-group">
        <label>Cliente</label>
        <input [(ngModel)]="clienteValue" (ngModelChange)="changeCliente($event)" class="form-control" type="text" placeholder="Nombre">
      </div>
    </div>

    <div class="col-md-2">
      <div class="position-relative form-group">
        <label>Estado</label>
        <select class="form-control" [(ngModel)]="estadoValue" (ngModelChange)="changeStatus($event)">
          <option *ngFor="let sta of status" [ngValue]="sta">
            {{sta}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <div class="position-relative form-group">
        <label>Periodo</label>
        <select class="form-control" [(ngModel)]="periodValue" (ngModelChange)="changePeriod($event)">
          <option *ngFor="let op of perid" [ngValue]="op" >
            {{op}}
          </option>
        </select>
      </div>
    </div>

  </div>


<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Empleado</th>
        <th class="text-center">Fecha de Inicio</th>
        <th class="text-center">Periodo</th>
        <th class="text-center">Estado de Pago</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Costo Total</th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subscription | filter: clienteValue:estadoValue:null:startdateValue:enddateValue:periodValue" [routerLink]="['/subscription',sub]" >
          <td class="text-center text-muted" style="width: 80px;">{{sub.id}}</td>
          <td class="text-center">{{sub.name}}</td>
          <td class="text-center">{{sub.empleado}}</td>
          <td class="text-center">{{sub.fecha}}</td>
          <td class="text-center">{{sub.period}}</td>
          <td class="text-center">{{sub.status}}</td>
          <td class="text-center">{{sub.statusSub}}</td>
          <td class="text-center">{{sub.total}}</td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary" (click)="open(content,$event)" >Borrar</button>
            </div>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1" (click)="updateTable()">Actualizar</span>
    </button>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Suscripcion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Esta seguro que desea borrar esta suscripcion?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
    <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
  </div>
</ng-template>
  