
<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Subscripciones</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Commercio</th>
        <th class="text-center">Empleado</th>
        <th class="text-center">Fecha de Inicio</th>
        <th class="text-center">Periodo</th>
        <th class="text-center">Estado de Pago</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Costo Total</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center text-muted" style="width: 80px;">#1</td>
        <td class="text-center">Jose</td>
        <td class="text-center">GYM</td>
        <td class="text-center">Jorge</td>
        <td class="text-center">05/01/2019</td>
        <td class="text-center">1</td>
        <td class="text-center">ANTICIPADO</td>
        <td class="text-center">ACTIVO</td>
        <td class="text-center">$900</td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Actualizar</button>
          </div>
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Borrar</button>
          </div>
        </td>
      </tr>
  
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">Actualizar</span>
    </button>
  </div>
</div>