<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div id="filter" class="content">
  <form>
    <div class="row">
      <div class="col-md-3">
          <div class="position-relative form-group">
            <label>Categoria</label>
            <input class="form-control" type="text" placeholder="Nombre">
          </div>
        </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" style="margin-top: 2.1em;">Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Nombre</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories" >
          <td class="text-center" [routerLink]="['/category',category]">{{category.id}}</td>
          <td class="text-center" [routerLink]="['/category',category]">{{category.name}}</td>          
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary" (click)="delete(category)" >Borrar</button>
            </div>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>

  <div class="d-block p-4 text-center card-footer">
    
  </div>
</div>