
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div class="search-wrapper" [class.active]="isActive">
  <div class="input-holder">
    <input type="text" [(ngModel)]="clienteValue" placeholder="busqueda" class="search-input">
    <button class="search-icon" (click)="isActive = true"><span></span></button>
  </div>
  <button class="close" (click)="isActive = false"></button>
</div>
<br>
<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-striped table-hover">
    
      <tbody>
        <tr *ngFor="let client of clients | filter: clienteValue" [routerLink]="['/client',client]">        
          <td>
            <div class="widget-content p-0">
              <div class="widget-content-wrapper">
                <div class="widget-content-left mr-3">
                  <div class="widget-content-left">
                    <img width="40" class="rounded-circle" src="./assets/images/avatars/3.jpg" alt="">
                  </div>
                </div>
                <div class="widget-content-left flex2">
                  <div class="widget-heading">{{client.name}}</div>
                  <div class="widget-subheading opacity-7">{{client.email}}</div>
                </div>
              </div>
            </div>
          </td>
          
          <td class="text-center">
              <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-info"  ngbTooltip="{{client.phone_number}}">
                  <i class="pe-7s-phone btn-icon-wrapper"> </i>
                </button>             
          </td>
          <td class="text-center">             
              <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-info"  ngbTooltip="{{client.email}}">
                <i class="pe-7s-mail btn-icon-wrapper"> </i>
              </button>            
          </td>
          <td class="text-center">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
              <i class="pe-7s-trash btn-icon-wrapper"> </i>
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  </div>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cliente</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este cliente?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>
