
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div class="search-wrapper" [class.active]="isActive">
  <div class="input-holder">
    <input type="text" [(ngModel)]="clienteValue" placeholder="busqueda" class="search-input">
    <button class="search-icon" (click)="isActive = true"><span></span></button>
  </div>
  <button class="close" (click)="isActive = false"></button>
</div>
<br>

<div class="btn-select-icon col-5 col-md-2" routerLink="/client">
    <div class="icon">
        <i class="pe-7s-plus" ></i>
    </div>
    <div class="title">Agregar Nuevo Cliente</div>    
</div>

<div *ngFor="let client of clients" class="btn-select-icon col-5 col-md-2" (click)="agregarClienteAVenta(client)">
    <img  src="{{client.icon}}" *ngIf="client.icon"/> 
    <div class="icon" *ngIf="!client.icon">
        <i class="pe-7s-user" > </i>
    </div>
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-info">
        <i class="pe-7s-plus btn-icon-info"> </i> Ver Detalles
    </button> 
    <div class="title">{{client.name}}</div>    
</div>

