
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div id="filter" class="content">
  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="position-relative form-group">
          <label>Cliente</label>
          <input class="form-control" type="text" placeholder="Nombre">
        </div>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" style="margin-top: 2.1em;"> Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Imagen</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Saldo Favor</th>
        <th class="text-center">Teléfono</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" >        
          <td class="text-center" [routerLink]="['/client',client]">{{client.id}}</td>
          <td class="text-center" style="width: 80px;">
            <img width="40" class="rounded-circle" src="./assets/images/avatars/1.jpg" alt="">
          </td>
          <td class="text-center" [routerLink]="['/client',client]">{{client.name}}</td>
          <td class="text-center" [routerLink]="['/client',client]">{{client.positive_credit}}</td>
          <td class="text-center" [routerLink]="['/client',client]">{{client.phone_number}}</td>
          <td class="text-center">
            <a href="whatsapp://send?abid={{client.phone_number}}&text=Hello%2C%20World!">whatsapp</a>
          </td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary" (click)="deleteClient(client)" >Borrar</button>
            </div>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>
