
  <div class="btn-select-icon col-5 col-md-2" routerLink="/commerce" *ngIf="commerces.length == 0">
    <div class="icon">
      <i class="pe-7s-plus"></i>
    </div>
    <div class="title">Agregar Nuevo Comercio</div>    
  </div>

  <div *ngFor="let commerce of commerces" class="btn-select-icon col-5 col-md-2" (click)="selecionarComercio(commerce.id)">
    <img  src="{{commerce.icon}}" *ngIf="commerce.icon"/>
    <div class="icon" *ngIf="!commerce.icon">
        <i class="pe-7s-shopbag" > </i>
    </div>
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-info" [routerLink]="['/commerce',{id:commerce.id}]">
        <i class="pe-7s-plus btn-icon-info"> </i> Editar
    </button>
    <div class="title">{{commerce.name}}</div>    
  </div>  

  

  
