// General

a,
button,
.btn {
  outline: none !important;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.page-bar{


  .btn-rigth{
    margin-left:auto;
    margin-right: 0px;
  }
}

.profile-container{
  padding: 30px;
}