<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>
<div class="card-body">
  <form [formGroup]="registerForm">

      <div class="row">
        <div class="col-3"> 
          <div class="btn-input-icon" (click)="openAddIcon()">
            <img  src="{{product.icon}}" *ngIf="product.icon"/>
            <i class="pe-7s-shopbag" *ngIf="!product.icon"> </i>
            <div class="title">Icono</div>    
          </div>   
        </div>
        <div class="col-8"> 
          <div class="btn-input-portada" (click)="openAddPortada()">
            <img  src="{{product.portada}}" *ngIf="product.portada"/>
            <i class="pe-7s-shopbag" *ngIf="!product.portada"> </i>   
            <div class="btn-select-item-title">Portada</div>    
          </div>
        </div>
        <div class="col-1">
          <button *ngIf="isUpdate" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteProducto(content)">
            <i class="pe-7s-trash btn-icon-wrapper"> </i>
          </button>
        </div>
      </div>

      <div class="position-relative form-group">
        <app-image-select  #iconSelect 
          (imagenBase64)="iconoImagen($event)"
          aspectRatio_Y ="3"
          aspectRatio_X ="3"
          resizeToWidth=350
          titulo="Seleccionar Imagen"
          >
        </app-image-select> 
      </div>
      
      <div class="position-relative form-group">
        <app-image-select  #portadaSelect 
          (imagenBase64)="portadaImagen($event)"
          aspectRatio_Y ="7"
          aspectRatio_X ="3"
          resizeToWidth=350
          titulo="Seleccionar Imagen"
          >
        </app-image-select> 
      </div>

    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="name">Nombre</label>
      <input formControlName="name" name="name" id="name" placeholder="Ingrese el nombre del producto" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">El nombre es requerido</div>
      </div>
    </div>
    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="stock">Stock</label>
      <input formControlName="stock" name="stock" id="stock" placeholder="Ingrese la dirección del producto" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
      <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
          <div *ngIf="f.stock.errors.required">La Dirección es requerido</div>
      </div>
    </div>

    <div class="position-relative form-group">
      <label for="price">Precio</label>
      <input formControlName="price" name="price" id="price" placeholder="Ingrese el teléfono del producto" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">El teléfono es requerido</div>
      </div>
    </div>

    <div class="position-relative form-group">
      <label for="code">Código Único</label>
      <input formControlName="code" name="code" id="code" placeholder="Ingrese el code del producto" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
      <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
          <div *ngIf="f.code.errors.required">El código es requerido</div>
      </div>
    </div>   

    <div class="position-relative form-group">
      <label for="provider_id">Proveedor</label>
      <select formControlName="provider_id" name="provider_id" id="provider_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.provider_id.errors }">
        <option *ngFor="let provider of providers" [value]="provider.id">{{provider.name}}</option>
        <div *ngIf="submitted && f.provider_id.errors" class="invalid-feedback">
            <div *ngIf="f.provider_id.errors.required">Seleccione un proveedor o cree una nuevo (link)</div>
        </div>
      </select>
    </div>

    <div class="position-relative form-group">
      <label for="category">Categoria</label>
      <select formControlName="category" name="category" id="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">Seleccione una categoria o cree una nueva (link)</div>
        </div>
      </select>
    </div>
    <!--Descripcion-->
    <div class="position-relative form-group">
      <label for="descripcion">Descripcion</label>
      <textarea formControlName="description" name="description" id="description"  class="form-control" placeholder="Ingrese una breve descripcion del producto" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">      
      </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">ingrese una breve descripción</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="mt-1 btn btn-primary" type="submit" (click)="Cancelar()">Cancelar</button>
      <button class="mt-1 btn btn-success" type="submit"  (click)="Guardar()">Guardar</button>
    </div>
  </form>


  
    
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Producto?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Esta seguro que desea borrar este producto?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
      <button type="button" class="btn btn-primary"  (click)="c('si')" >Si</button>
    </div>
  </ng-template>