<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>
<div class="card-body">
  <form [formGroup]="registerForm">

    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="name">Nombre</label>
      <input formControlName="name" name="name" id="name" placeholder="Ingrese el nombre del cliente" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">El nombre es requerido</div>
      </div>
    </div>
    <!--Nombre-->
    <div class="position-relative form-group">
      <label for="address">Dirección</label>
      <input formControlName="address" name="address" id="address" placeholder="Ingrese la dirección del cliente" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">La Dirección es requerido</div>
      </div>
    </div>

    <div class="position-relative form-group">
      <label for="phone_number">Teléfono</label>
      <input formControlName="phone_number" name="phone_number" id="phone_number" placeholder="Ingrese el teléfono del cliente" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }">
      <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
          <div *ngIf="f.phone_number.errors.required">El teléfono es requerido</div>
      </div>
    </div>

    <div class="position-relative form-group">
      <label for="email">EMail</label>
      <input formControlName="email" name="email" id="email" placeholder="Ingrese el email del cliente" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">El email es requerido</div>
      </div>
    </div>
    
    <!--Descripcion-->
    <div class="position-relative form-group">
      <label for="descripcion">Descripcion</label>
      <textarea formControlName="description" name="description" id="description"  class="form-control" placeholder="Ingrese una breve descripcion del cliente" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">      
      </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">ingrese una breve descripción</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="mt-1 btn btn-primary" type="submit" (click)="Cancelar()">Cancelar</button>
      <button class="mt-1 btn btn-success" type="submit"  (click)="Guardar()">Guardar</button>
    </div>
  </form>

    
</div>