<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div
          class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button *ngFor="let button of buttons" routerLink="{{button.href}}" class="btn-shadow d-inline-flex align-items-center btn btn-success">
          <fa class="mr-2" name="{{button.icon}}"></fa>
          {{button.title}}
      </button>
    </div>
  </div>
</div>
