<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"  [buttons]="buttons"></app-page-title>

<div id="filter" class="content">
  <form>
    <div class="row">
      <div class="col-md-2">
          <label>Desde</label>
          <input type="date" class="form-control">
      </div>
      <div  class="col-md-2">
          <label>Hasta</label>
          <input type="date" class="form-control">
      </div>
      <div class="col-md-3">
        <div class="position-relative form-group">
          <label>Cliente</label>
          <input class="form-control" type="text" placeholder="Nombre">
        </div>
      </div>
      <div class="col-md-2">
        <div class="position-relative form-group">
          <label for="selectsale">Estado</label>
          <select name="selectsale" id="selectsale" class="form-control">
            <option></option>
            <option>Pagado</option>
            <option>Pendiente</option>
            <option>Cancelado</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-top: 2.1em;"> Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="main-card mb-3 card">
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Comercio</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Tabla Numero</th>
        <th class="text-center">Operacion</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Total</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center text-muted" style="width: 80px;">#1</td>
        <td class="text-center">Caracol</td>
        <td class="text-center">Mauro</td>
        <td class="text-center">1</td>
        <td class="text-center">Venta</td>
        <td class="text-center">Pagado</td>
        <td class="text-center">$500</td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Editar</button>
          </div>
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">Borrar</button>
          </div>
        </td>
      </tr>
  
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">Actualizar</span>
    </button>
  </div>
</div>